/*-- scss:defaults --*/
$font-family-sans-serif: "DejaVu Sans", "Liberation Sans", "Arial", sans-serif !default;
$font-family-monospace: "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace !default;
$presentation-heading-font: "DejaVu Serif", "Liberation Serif", "Times New Roman", serif !default;
$presentation-heading-color: #111111 !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-text-transform: none !default;
$body-bg: #f6f0e4 !default;
$body-color: #111111 !default;
$link-color: #1b4b73 !default;
$selection-bg: rgba(17, 17, 17, 0.99) !default;
$dark-bg-text-color: #ffffff !default;
